<link rel="stylesheet" href="/static/styles.css">

<div class= "page">
    <div class= "Register-card">
        <h1>Create New Account</h1>
        <p class="subtitle">Enter your details to create a new account</p>
        {% if error %}<p class="error" style="color: red;">{{ error | safe }}</p>{% endif %}
            <form method="POST">
                <div class= "field">                  
                    <lable>Username:</lable>
                    <input name="username"><br>
                </div>  
                    
                <div class= "field">             
                    <lable>Password:</lable>
                    <input type="password" name="password"><br>
                </div>  
                                
                <button type="submit" class="btn-primary">Create Account</button>
                                
            </form>
            <form method="POST">
                <input type="hidden" name="register" value="false">
                <button type="submit" class="btn-primary">Back to Login</button>
            </form>
        </div>
    </div>